@import "../../responsive.scss";

nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a{
        transition: all 0.05s ease;
        &:hover{
            scale: 1.05;
        }

        @include sm{
            display: none;
        }
    }


    .left{
        flex: 3;
        display: flex;
        align-items: center;
        gap: 50px;
        .logo{
            font-weight: bold;
            font-size: 20px;
            display: flex;
            gap:10px;
            align-items: center;

            img{
                width: 28px;
            }


            span{
                @include md{
                    display: none;
                }

                @include sm{
                    display: initial;
                }
            }
        }
    }

    .right{
        flex: 2;
        background-color: #fcf5f3;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;

        @include md{
            background-color: transparent;
        }

        .register{
            background-color: #fece51;
        }

        a{
            padding: 12px 24px; 
            margin: 20px;
        }

        .menuIcon{
            display: none;
            z-index: 999;
            img{
                width: 36px;
                height: 36px;
                cursor: pointer;
            }
            
            @include sm{
                display: initial;
            }
        }

        .menu{
            
            display: none;

            @include sm{
                a{
                    display: initial;
                }
                display: initial;
                position: absolute;
                background-color: black;
                top: 0;
                right: -50%;
                color: white;
                height: 100vh;
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                font-size: 24px;
    
                transition: all 1s ease;

                &.active{
                    right: 0;
                    
                }
            }

           
        }
    }
}